@{
    ViewBag.Title = "Confirm Email";
}
<style type="text/css">
    body {
        background-color: #F7F1F0;
    }
</style>
<body>

    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</body>