@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<style type="text/css">
    body {
        background-color: #F7F1F0;
    }
</style>
<body>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</body>
